language: php

php:
  - 7.1
  - 7.2
  - nightly

env:
  matrix:
    -
#    - DEPENDENCIES=--prefer-lowest

cache:
  directories:
    - .composer/cache

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_install:
  - alias composer=composer\ --no-interaction && composer selfupdate
  - composer global require hirak/prestissimo

install:
  - travis_retry composer update --no-progress --profile --no-scripts --no-suggest $DEPENDENCIES

script:
   - vendor/bin/grumphp run

after_success:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL_PASS

after_failure:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL_FAIL