FORMAT: 1A
HOST: https://api.jikan.moe/

# Jikan
[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList REST-ful API. 
It's built on the Lumen microframework and uses Redis for caching.

It is powered by [JikanPHP](https://github.com/jikan-me/jikan/) for parsing the data from MyAnimeList.


Base URL: `http://api.jikan.moe/`

Base URL (SSL): `https://api.jikan.moe/`

## IMPORTANT ANNOUNCEMENT - 11 APRIL 2018
**Jikan is moving to a new domain! Please use `api.jikan.MOE` in your applciations from now.**

`api.jikan.me` is supported until **May 12th, 2018** - its' expiry.




## Links
- [Website](https://jikan.moe)
- [About](https://jikan.moe/about)
- [Projects/Apps using Jikan](https://jikan.moe/showcase)


- [JikanPHP - Source](https://github.com/jikan-me/jikan/)
- [JikanPy - Wrapper](https://github.com/AWConant/jikanpy) by Andrew Conant
- [Jikan.rb - Wrapper](https://github.com/Zerocchi/jikan.rb) by Zerocchi


# Information
## Rate Limiting
To maintain bandwidth, there's a rate-limiting of 5,000 requests per IP per day and 2 concurrent requests per second.

Per Day: **5,000**

_If you're using the API for bulk requests, use a **5 second delay** between each request!_

## Additional
- Anime/Manga/Character/Person Responses are cached for 3 days.
- Search Queries are cached for 6 hours

## Allowed HTTP(s) requests
<pre>
GET: All requests are done via GET
</pre>

# Response Headers
- 200 `OK` - the request was successful.
- 400 `Bad Request` - You've made an invalid request or to an invalid endpoint.
- 404 `Not Found` - The ID you requested doesn't exist
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - You've either hit your daily limit, concurrent limit or Jikan has hit the rate limit from MyAnimeList


# Errors
If you get an error response, it'll be within the `error` field. Here's an example:
```
{"error": "Something Happened"}
```

Here's a list of errors you can get and what you could do to over come them.

### Invalid extended request / Unsupported parse request
Check each method for their proper extended requests. For example `/episodes` may exist for anime, but it doesn't exist for manga.

### MyAnimeList Rate Limiting reached
Jikan has made too many requests to MyAnimeList and there's a rate limit in effect from their side. This only lasts for a few seconds.
If you're making API calls in bulk, I suggest adding a delay between each request.

### Invalid or incomplete endpoint
The endpoint you requested either does not exist or you did not make a proper request.

You won't face this issue if there's enough cache lying around.
### No ID/Path given
This message comes from JikanPHP, the core of the REST API. Which pretty much translates to "You haven't provided any anime/manga/character/person `ID` to request.

If you get any other error, it's most likely a PHP error from JikanPHP itself. Please file an [issue](https://github.com/jikan-me/jikan/issues) on the GitHub repo.

### Bad Search Request
You most likely made an invalid search request. Either the type or query is empty. Or perhaps both.

### Server Error
Something happened on the our side, open an [issue](https://github.com/jikan-me/jikan/issues).

# Disclaimer
- Jikan is in no way affiliated with MyAnimeList.
- Jikan is a **free**, open-source API. Use it responsibly.
- **Any abuse of the REST API instance will lead to temporary IP blocks!**


## Anime [/anime/{id}/{request}/{parameter}]
A single anime object with all its details
### Extended Requests
| Request  | Parameter | Description |
| ------------- | ------------- | ------------- |
| characters_staff  | N/A  | Fetches the list of characters & staff members of the anime |
| episodes  | Page number (integer)  | Fetches the list of episodes of the anime |
| news | N/A | News related to the item |
| pictures | N/A | Pictures related to the item |
| videos | N/A | PV & episodes (if any) related to the item |
| stats | N/A | Statistical information related to the item |

**Remarks:** The field `episode_last_page` will tell you the last page of the paginated episodes list.

The episodes page on MyAnimeList get paginated after 100 episodes. If there's an anime with more than 100 episodes, you'll have to use the parameter.

### Example Calls
- `/anime/1/characters_staff` // Returns the list of characters and staff
- `/anime/1/episodes` // Defaults to the 1st page
- `/anime/1/episodes/1` // Same as above
- `/anime/1/episodes/2` // Returns 2nd page if there's any


### Anime Request Examples [GET]

+ Parameters
    + id (required, Number, `1`) ... Returns the Anime details from that the ID
    + request (optional, String, `episodes`) ... More details such as characters, staff, episodes
    + parameter (optional, Number, `2`) ... Anime with more than 100 episodes are paginated, hence this parameter is required.

+ Response 200 (application/json)

        [
 
        ]
        

## Manga [/manga/{id}/{request}]
A single manga object with all its details
### Extended Requests
| Request  | Parameter | Description |
| ------------- | ------------- | ------------- |
| characters  | N/A  | Fetches the list of characters & staff members of the manga |
| news | N/A | News related to the item |
| pictures | N/A | Pictures related to the item |
| stats | N/A | Statistical information related to the item |

### Example Calls
- `/manga/1/characters` // Returns the list of characters and staff

### Manga Request Examples [GET]

+ Parameters
    + id (required, Number, `1`) ... Returns the Character details from that the ID
    + request (optional, String, `characters`) ... More details such as characters
    
+ Response 200 (application/json)

        [
 
        ]
        
## Person [/person/{id}/{request}]
A single person object with all its details
### Extended Requests
| Request  | Parameter | Description |
| ------------- | ------------- | ------------- |
| pictures | N/A | Pictures related to the item |

### Person Request Examples [GET]

+ Parameters
    + id (required, Number, `1`) ... Returns the Person details from that the ID
    + request (optional, String, `pictures`) ... Pictures related to the item

+ Response 200 (application/json)

        [
 
        ]
        
## Character [/character/{id}/{request}]
A single character object with all its details
### Extended Requests
| Request  | Parameter | Description |
| ------------- | ------------- | ------------- |
| pictures | N/A | Pictures related to the item |

### Character Request Examples [GET]


+ Parameters
    + id (required, Number, `1`) ... Returns the Character details from that the ID
    + request (optional, String, `pictures`) ... Pictures related to the item
   
+ Response 200 (application/json)

        [
 
        ]
        
        
## Search [/search/{type}/{query}/{page}]
Search result object related to the query

**NOTE: MyAnimeList only processes queries with a minimum of 3 letters**
### Parameters
| Parameter  | Argument | Description |
| ------------- | ------------- | ------------- |
| type | anime, manga, person, character | Specify where to search |
| query | STRING | Query you want to search |
| page | INTEGER | Page number of the results |


### Search Request Examples [GET]


+ Parameters
    + type (required, Integer, `anime`) ... Returns result from anime search
    + query (required, String, `Code`) ... Search query
    + page (optional, Integer, `1`) ... Page of the results
   
+ Response 200 (application/json)

        [
 
        ]