<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./test/JikanTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>