<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>
    <testsuites>
        <testsuite name="Unit">
            <directory>./test/JikanTest</directory>
        </testsuite>
        <testsuite name="Fast">
            <directory>./test/JikanTest/JikanTest.php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>